<div>
    <h1>ADMIN PANEL: USUARIOS</h1>
    {{#each users}}
        <div style="display: inline-block">
            <p>Nombre: {{this.first_name}} email: {{this.email}} Rol: {{this.role}}</p>
        </div>
        <div style="display: inline-block">
            <button>Cambiar Rol</button><button>Eliminar usuario</button>
        </div>
            </br>
            </br>
    {{/each}}
</div>










<script src="/js/adminpanel.js"></script>