<div>
    <h1>ADMIN PANEL: USUARIOS</h1>
    {{#each users}}
        <p>Nombre: {{this.first_name}} email: {{this.email}} Rol: {{this.email}}  </p><button>Cambiar Rol</button><button>Eliminar usuario</button>
    {{/each}}
</div>










<script src="/js/adminpanel.js"></script>