<h1>LOGIN</h1>
<form action='/auth/login' method='POST'>
  <input type='text' name='email' placeholder='email' />
  <input type='text' name='password' placeholder='password' />
  <input type='submit' value='INGRESAR' />
</form>
<a href='/auth/github'>Iniciar sesión con GitHub<img src="../public/github_logo.png"></a><br>
<a href='/auth/register'>Aún no tengo cuenta...</a>
</br>
<a href='http://localhost:8080/products'>Ir al listado de productos</a>