<h1>LOGIN</h1>
<form action='/auth/login' method='POST'>
  <input type='text' name='email' placeholder='email' />
  <input type='text' name='password' placeholder='password' />
  <input type='submit' value='INGRESAR' />
</form>
</br>
<a href='/auth/github'>Iniciar sesión con GitHub</a>
</br>
</br>
<a href='/auth/register'>Aún no tengo cuenta...</a>
</br>
</br>
<a href='/products'>Ir al listado de productos</a>