<div  id="">
    <h1>CREAR PRODUCTO</h1>
    <form id="form" action="/api/products/newproduct" method="post" enctype="multipart/form-data">
        <div class="form-group" style="margin-left: 20px;">
            <div class="row">
                <div class="col"><input style="margin-top: 10px" type="text" class="form-control" placeholder="Ingrese Título" value="" name="title" required></div>
                <div class="col"><input style="margin-top: 10px" type="text" class="form-control" placeholder="Ingrese Descripción" value="" name="description" required></div>
                <div class="col"><input style="margin-top: 10px" type="text" class="form-control" placeholder="Ingrese Categoría" value="" name="category" required></div>
                <input style="margin-top: 10px" type="hidden" class="form-control" value="true" name="status" required>
            </div>
            <div class="row">
                <div class="col"><input style="margin-top: 10px" type="code" class="form-control" placeholder="Ingrese Código" value="" name="code" required></div>
                <div class="col"><input style="margin-top: 10px" type="number" class="form-control" placeholder="Ingrese Precio" value="" name="price" required></div>
                <div class="col"><input style="margin-top: 10px" type="number" class="form-control" placeholder="Ingrese Stock" value="" name="stock" required></div>
            </div>
            <div class="row">
                <div class="col"><input style="margin-top: 10px" type="text" class="form-control" placeholder="Ingrese URL de la imagen"name="thumbnail" required></div>
            </div>
            <button style="margin-top: 10px" type="submit" class="btn btn-primary btn-lg btn-block">Guardar</button>
        </div>
    </form>
    <a href='/auth/perfil'>Volver al perfil</a>
</div>
<script>
    const form = document.getElementById('form');
let newProduct ={};
form.addEventListener('submit', async (event) => {
    event.preventDefault();
    const title = form.elements.title.value;
    const description = form.elements.description.value;
    const price = form.elements.price.value;
    const thumbnail = form.elements.thumbnail.value;
    const code = form.elements.code.value;
    const stock = form.elements.stock.value;
    const category = form.elements.category.value;
    const status = form.elements.status.value;
    
    newProduct = {title, description, price, thumbnail, code, stock, category, status};
    try {
        const response = await fetch('/api/products/newproduct', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(newProduct),
        });

        if (response.ok) {
            alert('Producto creado!');
        } else {
            console.error('Error al crear el producto');
        }
    } catch (error) {
        console.error('Error al enviar la solicitud:', error);
    }
});
</script>