<h1>Perfil</h1>

email:
{{user.email}}
<br />
Rol:
{{user.role}}
<br />
<a href='/auth/administracion'>SECCION ADMIN<a>
<br />
<a href='http://localhost:8080/products'>Volver al listado</a>
<br />
<a href='/auth/logout'>Cerrar sesión</a>