<h1>Perfil</h1>

email:
{{user.email}}
<br />
Rol:
{{user.role}}
<br />
<br />
<a href='/api/products/newproduct'>Crear nuevo producto</a>
<br />
<a href='/auth/administracion'>SECCION ADMIN<a>
<br />
<a href='/products'>Volver al listado</a>
<br />
<a href='/auth/logout'>Cerrar sesión</a>